In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = df = pd.read_excel("Online Retail.xlsx") # Import dataset

In [5]:
pd.set_option('display.max_columns', 200) # Display all columns

In [6]:
df.head() # Display the top 5 rows

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,TotalSales,CustomerID,GuestOrders,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,15.30,17850.0,0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,20.34,17850.0,0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,22.00,17850.0,0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,20.34,17850.0,0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,20.34,17850.0,0,United Kingdom

In [14]:
df.tail()  # Display the last 5 rows

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,TotalSales,CustomerID,GuestOrders,Country
536455,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,10.20,12680.0,0,France
536456,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12.60,12680.0,0,France
536457,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,16.60,12680.0,0,France
536458,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,16.60,12680.0,0,France
536459,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,14.85,12680.0,0,France

In [15]:
df.info()  # Overview of the dataset, including column types and null counts

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 536460 entries, 0 to 536459
Data columns (total 10 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    536460 non-null  object
 1   StockCode    536460 non-null  object
 2   Description  536460 non-null  object
 3   Quantity     536460 non-null  int64
 4   InvoiceDate  536460 non-null  datetime64[ns]
 5   UnitPrice    536460 non-null  float64
 6   TotalSales   536460 non-null  float64
 7   CustomerID   404876 non-null  float64
 8   GuestOrders  536460 non-null  int64
 9   Country      536460 non-null  object
dtypes: datetime64[ns](1), float64(3), int64(2), object(4)
memory usage: 40.9+ MB

In [16]:
df.shape  # Number of rows and columns

(536460, 10)

In [17]:
df.isnull().sum()  # Number of missing values in each column. In this case highlighting number of orders that come from non-subscribers.

InvoiceNo           0
StockCode           0
Description         0
Quantity            0
InvoiceDate         0
UnitPrice           0
TotalSales          0
CustomerID     131584
GuestOrders         0
Country             0
dtype: int64

In [19]:
df.isnull().mean() * 100  # Returns the percentage of missing values. In this case highlighting % of orders that come from non-subscribers.

InvoiceNo       0.000000
StockCode       0.000000
Description     0.000000
Quantity        0.000000
InvoiceDate     0.000000
UnitPrice       0.000000
TotalSales      0.000000
CustomerID     24.528203
GuestOrders     0.000000
Country         0.000000
dtype: float64

In [22]:
df.nunique()  # Checking for number of subscribers

InvoiceNo      23195
StockCode       3921
Description     4025
Quantity         507
InvoiceDate    21308
UnitPrice        515
TotalSales      5068
CustomerID      4362
GuestOrders        2
Country           39
dtype: int64

In [23]:
df.duplicated().sum()  # Finding duplicate rows

5257

In [25]:
df.drop_duplicates(inplace=True)  # Remove duplicates

In [27]:
df.dropna(inplace=True) # Removing rows with missing values

In [28]:
df.to_excel('Online Retail.xlsx', index=False)